.App {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #000;
  padding: 0 20px;
}

.header {
  color:#f9b916;
  font-family: 'Permanent Marker', sans-serif;
}

.search-info {
  width: 100%;
  color:#f9b916;
  font-family: 'Permanent Marker', sans-serif;
  min-height: 100vh;
}

.search-box {
  align-items: center;
  min-height: 5vh;
}

.search-results {
  align-items: center;
  align-content: center;
  min-height: 50vh;
  width: 100%;
  margin-bottom: 3vh;
}

.input-field {
  min-width: 30%;
  padding: .5em;
  border-radius: 5px;
}

.Card {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 30px #00212d;
  filter: brightness(1) saturate(90%);
  transition: transform 0.6s, box-shadow 0.6s, filter 0.4s;
}

.Card:hover {
  box-shadow: 1px 1px 40px #f9b916;
  transform: scale(1.02);
  filter: brightness(1.2) saturate(110%);
  transition: transform 0.2s, box-shadow 0.2s;
  
}

.Card-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  background-color:rgb(0,0,0); /* fallback for IE 8 and below */
  background-color:rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-top {
  min-height: 15%;
  padding: 0 15px 15px;
  font-size: 0.6rem;
  color:rgb(255,255,255);
}

.card-bot {
  min-height: 15%;
  font-size: 0.6rem;
  align-self: flex-end;
  bottom: 0;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 5vh;
}

@media only screen and (min-width: 601px) {
  .Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
}

@media only screen and (min-width: 961px) {
  .Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
  }
}

.bookmark-btn-plus {
  height: 4vh;
  background-color: transparent;
  margin-right: 1vw;
  color: #FFF;
}

.bookmark-btn-check {
  height: 4vh;
  background-color: transparent;
  margin-right: 1vw;
  color: #f9b916;
}

.btn-icon {
  color: #f9b916;
}
